*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
/* etiquetas */
header{
    display: flex;
    background-color: rgb(20, 20, 20);
    font-family: 'Times New Roman', Times, serif;  
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
   top:0; 
   left: 0; 
   height: 5rem;
   
}


body{
   padding: 5rem 0px 0;
    background-color: rgb(0, 0, 0);
  
}

ul{
    list-style-type: none;
}

h1{
 margin-right: 120vh;
}

h2{
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



footer{
    
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1%;
    
    height: 10vh;
    
    
  
}

a{
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

 a:hover{
    transform: scale(1.05);
	color: #efb810;

}

/* navegacion */
.portfolio__logo{
    display: flex;
}
.portfolio__logo img{
    height: 3rem;
}

.portfolio__navegacion{
    display: flex;
    padding: 0.5rem;
    border-radius: 0.5 rem ;
    
    
}
.portfolio__navegacion--hamb{
    background: none;
    color: #efb810;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}
.portfolio__navegacion--lista{
    display: flex;
  
}


.portfolio__navegacion--barra {  
    padding: 1rem;
    font-size: 1.2rem;
  
}


.portfolio__navegacion--barra a{
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.portfolio__navegacion--barra a:hover {
	transform: scale(1.05);
	color: #efb810;
}


@media (max-width:728px){
    .portfolio__navegacion--lista{
        flex-direction: column;
        align-items: center;
        margin-right: 1.2rem;
        background-color: rgb(39, 38, 38);
        position: fixed;
        left:0;
        top:60px;
        width: 100%;
        padding:20px 0;
        height: 100%;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .portfolio__navegacion--hamb{
        display: block;
        margin-right: 2rem;
    }
    .portfolio__navegacion--animacion{
        left: 0%;
    }
    
}

/* index */

.portfolio__portada{
    display: grid;
    background-image: url(../recursos/imagenes/foto8.jpeg);
    background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height: 110vh;
    justify-content: center;
}

.portfolio__portada--servicios{
    color:#fff;
	font-size: 35px;
    margin-top: auto ;
	text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80vh;
    padding: 0.5rem;
}

.portfolio__portada--items{
    padding: 0.5rem;
    
}
.boton{
    border-radius: 10px;
    border-color: #fff;
    background-color: #fff;
    font-size: 1.3rem;
    padding: 1rem 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    

.redes__sociales{
    display: flex;
    color: #fff;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
@media (min-width:0px){
    .portfolio__portada{
        width: 100%;
        
    }
    .portfolio__portada--servicios{
   
        font-size: 1.5rem;
     }

}
@media (min-width:728px){
    .portfolio__portada{
        width: 100%;
        
    }
    .portfolio__portada--servicios{
        font-size: 2rem;
     }

}
@media (min-width:1024px){
    .portfolio__portada{
        width: 100%;
        
    }
    .portfolio__portada--servicios{
        font-size: 2.2rem;
     }

}
/* fin de index  */

/* galeria */
.portfolio__galeria--trabajos{
     display: grid;
     width: 100%;
     margin: auto;
    
    
}
img{
    width: 100%;
}
.portfolio__galeria--fotos{
    margin: 0.5rem;
}
@media(min-width:576px){
    .portfolio__galeria--trabajos{
        grid-template-columns: repeat(2,50%);
    }
} 
@media(min-width:728px){
    .portfolio__galeria--trabajos{
        grid-template-columns: repeat(3,33.3%);
    }
}

/* fin de galeria */

/* servicios */
.portfolio__servicios{
  
   min-height: calc(100vh - 10vh - 8vh);
}
.portfolio__servicios h3{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.portfolio__servicios--fotos{
   text-align: center;
    padding: 1%;
    margin-top: 2%;
    color: #efb810;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio__servicios--fotos p{
    padding: 1%;
    font-size: 1.2rem;
}

.portfolio__servicios--edicion{
    text-align: center;
    margin-top: 4%;
    color: #efb810;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio__servicios--edicion p{
    padding: 1%;
    font-size: 1.2rem;
}

.portfolio__servicios--video{
    text-align: center;
    padding: 1%;
    margin-top: 4% ;
    color: #efb810;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio__servicios--video p{
    padding: 1%;
    font-size: 1.2rem;
}
@media(min-width:1200px){
    .portfolio__servicios--fotos{
        margin-right: 30%;
    }
    .portfolio__servicios--edicion{
        margin-right: 30%;
    }
    .portfolio__servicios--video{
        margin-right: 30%;
    }
}
/* fin de mis servicios */

/* sobre__mi */
.portfolio__sobremi{
    min-height: calc(100vh - 10vh - 8vh);
    padding: 4%;
    
}
.portfolio__sobremi--texto h3{
    margin-bottom: 2%;
    color: #efb810;
}  
.portfolio__sobremi--texto{
    color: #fff;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio__sobremi--img img{
  margin-bottom: 5%;
}
@media(max-width:1000px){
    .portfolio__sobremi{
        margin-top: 5%;
    }
}

/* fin de sobre__mi */

/* contacto */
.portfolio__contacto{
    display: flex ;
    min-height: 80vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
  
}
.portfolio__contacto--formulario{
    background-color: white;
    width: 90%;
   border-radius: 1rem;
    max-width: 400px;
    padding: 1.5rem 1.5rem;
    display: grid;
    gap: .5rem;
    grid-auto-columns: 100%;
}
.portfolio__contacto--formulario h3{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    

}
.portfolio__contacto--input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: .8rem 1rem;
  outline: none;
  border: none;
  border: 0.1rem solid #ffbf00;

}.portfolio__contacto--textarea{
    resize: none;
    padding: 1.8rem 1rem;
    margin-bottom: .5rem;
}

.portfolio__contacto--boton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: black;
    color: #efb810;
    border: none;
    padding: .7rem;
    border-radius: .2rem;
    cursor: pointer;
    font-weight: 700;
}
/* fin de contacto */




    



