/* ---- NAV ---- */
@media  (max-width:727px){
    .navegacion{
        &__lista{
         flex-direction: column;
         align-items: center;
         margin-right: 1.2rem;
         background-color: rgb(39, 38, 38);
         position: fixed;
         left:0;
         top:60px;
         width: 100%;
         padding:20px 0;
         height: 100%;
         overflow: auto;
         left: 100%;
         transition: left 0.3s;
        }
        &__hamb{
            display: block;
            margin-right: 2rem;
        }
        &__animacion{
            left: 0%;
        }
    } 
}
/* ---- PORTADA ---- */
@media (max-width:728px){
    .portada{
        width: 100%;
        &__servicios{
            font-size: 2rem;
        }
    }
 
}
 @media (min-width:1024px){
     .portada{
        width: 100%;
        &__servicios{
            font-size: 2.2rem;
        }
    }
}
/* ---- GALERIA ---- */
@media (min-width:0px)and(max-width:575px){
    .galeria{
        &__trabajos{
            grid-template-columns: repeat(1,100%);
            img{
                width: 100%;
                height: 100%;
            }

        }
        a{
            &:hover{
                img{
                    filter: blur(0);
                    transform: rotate(0) scale(1);
                }
            }
        }
    }
    .carrusel{
        display: none;
    }

}

@media(min-width:576px)and(max-width:727px){
    .galeria{
        &__trabajos{
            grid-template-columns: repeat(2,50%);
            img {
                width: 100%;
                height: 100%;
                
            }
        
        }
        a{
            &:hover{
                img{
                    filter: blur(0);
                    transform: rotate(0) scale(1);
                }
            }
        }
        
    }
    .carrusel{
        display: none;
    }
   
} 
@media(min-width:728px) and (max-width:1023px){
    .galeria{
        &__trabajos{
            grid-template-columns: repeat(3,33.3%);
        }
    }
    .carrusel{
        img{
            width: 55vw;
            max-height: 100vh;
        }
    }
}


/* ---- SERVICIOS ---- */
@media(min-width:1200px){
    .servicios__fotos{
        margin-right: 30%;
    }
    .servicios__edicion{
        margin-right: 30%;
    }
    .servicios__video{
        margin-right: 30%;
    }
}