 /* navegacion */
 .logo{
    display: flex;
    
    

}
.imagenlogo{
    background-repeat:no-repeat;
    height:335px;
    width: 731px;
    margin-left: 3rem;
    background-position:left;
    background-size: 70%;
    background-image: url(../recursos/imagenes/logo-removebg-preview.png);
}
.navegacion{
        display: flex;
        padding: 2rem;
        border-radius: 0.5rem ;
        
        &__hamb {
           background: none;
           color: $colorprincipal;
           border: none;
           font-size: 1.8rem;
           cursor: pointer;
           display: none;
        }
        &__lista{
            display: flex;   
        }
        &__barra{
            padding: 1rem;
            font-size: 1.5rem;
            padding-bottom: 0.2rem;
        }
}